<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Imposto.Core.Properties.Settings.TesteConnectionString"
            connectionString="Data Source=RODRIGO_NOTE;Initial Catalog=Teste;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>